.CreatorWrapper {
    display: flex;
    justify-content: center;
}

.CreatorContainer {
    display: flex;
    flex-direction: column;
    background-color: rgba(227, 227, 237, 0.824);
    padding: 1rem;
}

.NftField {
    margin-top: 0.5rem;
    padding: 1rem
}

.NftImage {
    width: 50%;
    padding: 0.5rem;
}

.ImgContainer {
    height: 80%;
    display: flex;
    justify-content: center;
}